<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          {{ loadingMessage }}
        </v-card-title>
        <v-card-text>
          <v-progress-linear
            v-model="value"
            :active="show"
            :indeterminate="query"
            :query="true"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-flex text-xs-center>
      <upload-btn
        :ripple="true"
        :fileChangedCallback="fileChanged"
      />
      <v-btn
        v-if="downloadButton"
        color="secondary"
        :href="downloadLink"
      >
        Download
      </v-btn>
      <ad-sense />
    </v-flex>
  </v-layout>
</template>

<script>
import Vue from 'vue'
import axios from '~/plugins/axios'
import UploadButton from 'vuetify-upload-button'
import AdSense from '~/components/AdSense.vue'

Vue.component('ad-sense', AdSense)

export default {
  components: {
    'upload-btn': UploadButton
  },
  data() {
    return {
      dialog: false,
      loadingMessages: [
        'Uploading SVG...',
        'Processing favicons...',
        'Zipping...'
      ],
      loadingMessage: '',
      value: 0,
      query: false,
      show: true,
      interval: 0,
      file: null,
      phoneRules: [
        v =>
          /^$|^[2-9]\d{2}-\d{3}-\d{4}$/.test(v) ||
          'Please input a valid phone number.'
      ],
      phone: '',
      downloadUrl: 'https://s3.amazonaws.com/',
      downloadLink: '',
      downloadButton: false,
      url: process.env.apiUrl
    }
  },
  methods: {
    fileChanged(file) {
      this.file = file.name
      const uuidv4 = require('uuid/v4')
      const uuid = uuidv4()
      const filename = uuid.concat('.svg')
      this.downloadLink = this.downloadUrl.concat(
        process.env.DOWNLOAD_BUCKET,
        '/favicons-',
        uuid,
        '.zip'
      )
      if (file.type === 'image/svg+xml') {
        this.upload(file, filename)
        this.queryAndIndeterminate()
      }
    },
    queryAndIndeterminate() {
      this.dialog = true
      this.show = true
      this.value = 0
      this.loadingMessage = this.loadingMessages[0]

      this.interval = setInterval(() => {
        if (this.value === 100) {
          clearInterval(this.interval)
          this.show = false
          this.dialog = false
          this.downloadButton = true
          this.loadingMessage = this.loadingMessages[0]
          this.file = null
        }
        if (this.value === 50) {
          this.loadingMessage = this.loadingMessages[1]
        }
        if (this.value === 70) {
          this.loadingMessage = this.loadingMessages[2]
        }
        this.value++
      }, 100)
    },
    upload: function(file, filename) {
      axios.put(filename, file).then(
        response => {
          if (response.status === 200) {
            console.log(response)
          }
        },
        error => {
          console.log(error)
        }
      )
    }
  }
}
</script>
